.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 200px;
    height: auto;
    margin: 0 5px;
    display: block;
}
.nombre{
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.nav-header-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-header-inicio a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: rgb(236, 236, 236);
}
.nav-header-inicio a:hover{
    background-color: #333;
    color: white;
}
.nav-header-inicio li{
    list-style: none;
    display: inline;
}
body{
    background-color: white;
}